<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>
<div id="jsonView">

<% if (requestString !== null) {%>
<p><%= requestString %></p>
<% } %>

    <% if (receivedString !== null) {%>
    <p><%- receivedString %></p>
    <% } %>
</div>
</body>
</html>